@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.813), rgba(0, 0, 0, 0.704)), url("../../public/bg-formulario-xolo.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20rem;  
}

.mq{
  width: 50%;
}
@media (min-width: 768px) {    
  .mq{
    width: 50%;
  }
}
  
.navegation {
  margin-top: 8rem;
  max-width: 20rem;;
}
  
@media (min-width: 768px) {  
  .navegation {
    max-width: 30rem;;
  }
}
  
.form{
  max-width: 90%;
}
@media (min-width: 600px) {
  .form{
    max-width: 33rem;
  }  
}
@media (min-width: 900px) {    
  .form{
    max-width: 40rem;
  }  
}


